<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>TiCalcul</Name>
	<Version>2.3</Version>
	<Title>TiCalcul : The Ultimate Timecode Calculator.</Title>
	<Logo>TiCalcul.png</Logo>
	<Publisher>David de Lorenzo</Publisher>
	<StartMenuDir>TiCalcul</StartMenuDir>
	<TargetDir>@ApplicationsDir@/TiCalcul</TargetDir>
    <ProductImages>
        <ProductImage>
            <Image>screenshot.png</Image>
            <Url>https://sphinkie.github.io/TiCalcul/</Url>
		</ProductImage>
        <ProductImage>
            <Image>TC_built_with_Qt.png</Image>
            <Url>https://www.qt.io/</Url>
		</ProductImage>
        <ProductImage>
            <Image>TC_with_Qt.png</Image>
            <Url>https://www.qt.io/</Url>
		</ProductImage>
    </ProductImages>
</Installer>